$main_font: "Roboto", sans-serif;
$main-color_white: #fff;
$main-color_black:#000;

$maxWidth:1400;

$maxWidthContainer:1170;
//адаптив
$md1:$maxWidthContainer+12;
$md2:1200;
$md3:1195;
$md4:940px;
$md5:1100;
$md6:1000;


%equal-heights {
   display: flex;
   flex-wrap: wrap;
 }